<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Indicator</title>
</head>
<body>
    <h1>Indicators</h1>
    <div>
        <span id="indicator-1">0</span>
        <button onclick="updateIndicator(0,3)"> 1 </button>
    </div>
    <div>
        <span id="indicator-2">0</span>
        <button onclick="updateIndicator(0,3)"> 1 </button>
    </div>
    <script>
        const socket = new WebSocket('ws://localhost:8000/ws/indicators/');
        socket.onmessage = function(event){
            const data = JSON.parse(event.data);
            if (data.error){
                console.error(data.error);
            } else {
                const span = document.getElementById(`indicator-${data.id}`);
                if (span){
                    span.textContent = data.value;
                }
            }
        };
        function updateIndicator(id, value) {
            const message = JSON.stringify({id: id, value: value});
            socket.send(message);
        }
    </script>
</body>
</html>